@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/global.css">


</head>
<body>
    @*<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>*@

    @*@Html.Partial("_Navbar")*@
    <nav class="navbar navbar-toggleable-md navbar-dark bg-custom  site-bg">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href='@Url.Content("~/Incident/IncidentListing")'>Incident Manager</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" href='@Url.Content("~/Incident/IncidentListing")'>Incidents</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='@Url.Content("~/User/UserListing")'>Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <div class="btn-group">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><i class="fas fa-bell"></i></a>
                        <div class="dropdown-menu dropdown-menu-right justify-content-center">
                            <div id="notifications" class="notification-list scrollbar">
                                <p>1</p>
                                <p>2</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><span class="notification-count" id="notificationCount"></span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container main-container">
        @RenderBody()
    </div>


    <script>
        var apiBaseUrl = '@Configuration["ApiBaseURL"]';
    </script>
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/9c6b3ade7b.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js" integrity="sha512-otOZr2EcknK9a5aa3BbMR9XOjYKtxxscwyRHN6zmdXuRfJ5uApkHB7cz1laWk2g8RKLzV9qv/fl3RPwfCuoxHQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
<script>
    let unreadCount;

    $(document).ready(function () {

        getAllNotifications().then(res => {
            console.log(res.data);
            let notifications = res.data;
            unreadCount = notifications.filter((notification) => !notification.IsRead).length;
            $("#notificationCount").html(unreadCount + " new");
            setNotifications(notifications);
        });
    });

    function setNotifications(notifications) {
        let html = "";
        if (!notifications) {
            $("#notificationCount").hide();
            return;
        }

        html += "<table class='table'>";  

        notifications.forEach((notification) => {
            let time = "<small class='text-nowrap' style='margin-left:10px;'><span title='" + moment(notification.CreateDate).format("MMMM DD YYYY, h:mm:ss a") + "'>" + moment(notification.CreateDate).fromNow() + "</span > </small>";
            let url = '@Url.Content("~/Incident/IncidentDetails/")' + notification.IncidentId;

            html += "<tr class='" + (notification.IsRead ? "" : "unread") + "'>";

            html += "<td colspan='3'>";
            html += "<a class='text-primary' href='" + url + "'>" + notification.NotifyAbout + "</a>";
            html += "</td>";

            html += "<td colspan='1'>";
            html += time;
            html += "<i title='" + (notification.IsRead ? "Mark Unread" : "Mark Read") +"' class='" + (notification.IsRead ? "far" : "fas") + " fa-bookmark' onclick=\"setStatus(this, '"+ notification.Id+"');\"></i>"
            html += "</td>";

            html += "</tr>";  
        });
        html += "</table>";  

    $("#notifications").html(html);
    }

    function setStatus(source, id) {
        this.event.stopPropagation(); // don't close dropdown       

        if ($(source).hasClass("far")) { // is read
            $(source).removeClass("far").addClass("fas");
            $(source).closest('tr').toggleClass("unread");
            setNotificationStatus(id, false);
            ++unreadCount;            
        }
        else if ($(source).hasClass("fas")) { // is unread
            $(source).removeClass("fas").addClass("far");
            $(source).closest('tr').toggleClass("unread");
            setNotificationStatus(id, true);
            --unreadCount;
        }

        $("#notificationCount").html(unreadCount + " new");
    }
</script>
</body>
</html>
