@{
}
<link href="~/css/imListing.css" rel="stylesheet" />

<div class="row">
    <div class="col-sm-6">
        <h3 class="site-cl">Incident Listing</h3>
    </div>
    <div class="col-sm-6 text-right">
        <a href="./newIncident.html" class="btn text-white bg-success">Add New</a>
    </div>
</div>

<div class="row search-bar">
    <div class="col-sm-12">
        <span class="text-muted" > Search : </span>
        <input type="text" class="txt w-50 text-muted" id="searchText" placeholder="Type title or description" />
    </div>
</div>

<!-- Listing-->
<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table class="table ">
                <thead>
                    <tr>
                        <th>Title </th>
                        <th>Description</th>
                        <th>Assigned TO</th>
                        <th>Created By</th>
                        <th>Created Date</th>
                        <th>Due Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody id="imListRows">
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4 ">
                <div class="text-success records-info" id="info">Showin from 1 to 7 of 49 Incidents</div>
            </div>
            <div class="col-sm-12 col-md-2 ">
                <div  style="margin-top:5px;">
                    <span>Page Size :</span>
                    <select onchange="return pageSizeChanged(this);" id="pageSizeDdl" class="browser-default  dropdown-custom">
                        <option value="5" selected>5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end" id="pageContainer">
                    </ul>
                </nav>
            </div>

        </div>
    </div>

</div>

@section Scripts{
    <script>
        let axiosCancelToken;

    $(document).ready(function () {
        localStorage.setItem("userlogin", JSON.stringify(@Html.Raw(ViewBag.userLogin)));
        localStorage.setItem("allUsers", JSON.stringify(@Html.Raw(ViewBag.Users)));

        loadIncidents(5,1,"");

        $("#searchText").on("input", function (e) {
            let searchTxt = $("#searchText").val();
            axiosCancelToken();

            let pageSize = parseInt($("#pageSizeDdl").val());
            loadIncidents(pageSize, 1, searchTxt);

        });
     });

    function loadIncidents(pageSize, pageNumber, search  ) {
        axios.defaults.headers = { 'Authorization': 'Bearer @ViewBag.token' };
        const url = "@ViewBag.baseUrl" +
            "api/Incidents/GetIncidentsWithPage?PageSize=" + pageSize +
            "&PageNumber=" + pageNumber + "&SortBy=q&SortDirection=q&Search=" + search + "";
            axios({
                method: 'GET',
                url: url,
                cancelToken: new axios.CancelToken(c => axiosCancelToken = c)
            })
            .then((response) => {
                setIncidents(response.data.Incidents);
                setPages(parseInt(response.data.Total_Incidents), pageSize, pageNumber, search);
                setRecordsInfo(response.data.Total_Incidents, pageSize, pageNumber);
            })
            .catch((err) => {
                console.log(err.message);
            });
    } // end of loadIncidents

        function setIncidents(allIncidents) {
            let incidents = "";
            allIncidents.forEach((incident) => {
                incidents += "<tr>";
                incidents += "<td class='text-nowrap' title='" + incident.Title + "'><a href='@Url.Content("~/Incident/IncidentDetails")/" + incident.Id + "'>" + (incident.Title.length > 15 ? incident.Title.slice(0, 15) + "..." : incident.Title) + "... </a></td>";
                incidents += "<td class='text-nowrap w-25' title='" + incident.Description + "'>  " + (incident.Description.length > 30 ? incident.Description.slice(0, 30) + "..." : incident.Description) + "... </td>";
                incidents += "<td>" + getUserNameById(incident.AssignedTo) + "</td>";
                incidents += "<td>" + getUserNameById(incident.CreatedBy) + "</td>";
                incidents += "<td><span title='" + moment(incident.CreatedAT).format("MMMM DD YYYY, h:mm:ss a") + "' >" + moment(incident.CreatedAT).fromNow() + "</span></td>";
                incidents += "<td><span title='" + moment(incident.DueDate).format("MMMM DD YYYY, h:mm:ss a") + "' >" + moment(incident.DueDate).fromNow() + "</span></td>";
                incidents += "<td>" + getStatusByCode(incident.Status) + "</td>";
                incidents += "</tr>";
            })

            // render html
            $("#imListRows").html(incidents);
        }

        function setPages(totalRecords, pageSize, currentPage, search) {
            let pagesHtml = "";
            let noOfPages = Math.ceil(totalRecords / pageSize);
            // No pages if no records
            if (totalRecords == 0)
                return;
            // set previous button
            if (currentPage === 1)
                pagesHtml += "<li class='page-item'><span class='page-link'>Previous</span></li>";
            else
                pagesHtml += "<li class='page-item' onclick=\"loadIncidents(" + pageSize + "," + (currentPage - 1) + ",'" + search + "');\"><a class='page-link' href='#'>Previous</a></li>";

            // set number buttons
            for (let i = 1; i <= noOfPages; i++) {
                let isActive = i === currentPage ? "active" : "";
                pagesHtml += "<li class='page-item " + isActive + "' onclick=\"loadIncidents(" + pageSize + "," + i + ",'" + search + "');\"><a class='page-link' href='#'>" + i + "</a></li>";
            }

            // set next button
            if (currentPage === noOfPages)
                pagesHtml += "<li class='page-item'><span class='page-link'>Next</span></li>";
            else
                pagesHtml += "<li class='page-item' onclick=\"loadIncidents(" + pageSize + "," + (currentPage + 1) + ",'" + search + "');\"><a class='page-link' href='#'>Next</a></li>";

            // render html
            $("#pageContainer").html(pagesHtml);
        }

        function pageSizeChanged(dropdown) {
            loadIncidents($(dropdown).val(), 1, $("#searchText").val());
        }

        function setRecordsInfo(total, pageSize, pageNumber) {
            let end = pageSize * pageNumber;
            let start = end - pageSize + 1;
            if (end > total)
                end = total;
            let info = "Showin from " + start + " to " + end + " of " + total + " Incidents";
            $("#info").html(info);
        }
    </script>
}